.a-main{
  width: 100%;
  height: 600px;
  background-image: url(../img/react-img.png);
  background-attachment: fixed;
  background-size: cover;

  h2{
    font-size: 40px;
    color: white;
    font-family: cursive;
  }
}

.aaa{
  height: 0.005vh;
  width: 100%;
  background-color: black;
}

.bbb{
  height: 500px;
  width: 100%;
  background-color: green;
}
