

.pic{
    background-color: aqua;
    width: 100%;
    height: 100vh;
    background-image: url(../img/RVA.jpeg);
    background-size: cover;
    background-attachment: fixed;


}

.aaa{
    background-color: black;
    height: 0.05vh;
    width: 100%;
}

.bbb{
    background-color: pink;
    height: 500px;
    width: 100%;
}