// @mixin changePlace() {
//   display: flex;
//   flex-direction: column;
// }
// $sp:480px;
// @mixin breakpoint {
//   @media (max-width: ($sp)) {
//       // @content changePlace();
//       @include changePlace();
//   }
// }

@mixin column(){
  display: flex;
  flex-direction: column;
}

$sp:480px;
@mixin abreakpoint1() {
  @media screen and (max-width:$sp) {
    @include column();
  }
}
@mixin abreakpoint2() {
  @media screen and (max-width:$sp) {
    @include textboxFS();
  }
}

@mixin textboxFS(){
  .textbox{
    .thema{
      font-size: 10px;
    }
    .themap{
      font-size: 10px;
    }
  }
}

.a-container {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  width: 95%;
  margin: 0 auto;
  .a-introduction{
    opacity: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 300px;
      height: 300px;
      margin-right: 50px;
    }
    .textbox{
      .thema{
        font-size: 100px;
        padding: 20px 0;
      }
      .themap{
        font-size: 25px;
      }
    }
  }
}

.a-characteristic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  border-top: 1px solid rgb(238, 238, 238);
  @include abreakpoint1();
  img{
    width: 300px;
    height: 300px;
    margin-right: 50px;
  }
  .textbox{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      font-size: 40px;
      margin-bottom: 20px;
    }
    p{
      font-size: 20px;
    }
  }
}

