
@mixin same-things(){
    font-size: 30px;
    margin-bottom: 100px;
    padding-left: 30px;
}

.atack{
    // padding-top: 50px;
    .sandai{
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .react-red{
        color: red;
        border-bottom: 2px solid red;
        @include same-things();
    }





    .vue-blue{
        color: blue;
        border-bottom: 2px solid blue;
        @include same-things();
    }
    .angular-green{
        color: green;
        border-bottom: 2px solid green;
        @include same-things();
    }
}


.push{
    box-shadow: 4px 4px;
    border-radius: 10px;
    font-size: 20px;
    color: gray;
}



.m-header{
    a:hover{
        color: white;
    }
}


.push:hover{
    background-color: gray;
    color: white;
}