
@mixin footer($fcol){
  background-color: $fcol;
  height: 10vh;

  p{
    height: 10vh;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// main
.m-footer{
@include footer(gray);
}

// ai
.m-footer{
  @include footer(gray);
}

// toshiki
.m-footer{
  @include footer(gray);
}

// kuninaka
.m-footer{
  @include footer(gray);
}