.container {
  width: 100%;
}

@mixin header($posi, $scol, $ecol) {
  background: linear-gradient($posi, $scol, $ecol);
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    font-size: 30px;
  }
  ul {
    display: flex;
    a {
      text-decoration: none;
      color: black;
      li {
        font-size: 15px;
        padding: 0 10px;
        border-right: 1px solid black;
      }
    }
  }
}

//main
.m-header {
  @include header(top,red, yellow);
}

//ai
.r-header {
  @include header(top, #5fd5f6, white);
}
//tosiki
.v-header {
  @include header(top, #34475c 30%, #40b381 70%);
}
//kuninaka
.a-header {
  @include header(top, red, yellow);
}
