
.container{
  width: 100%;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  background-color: pink;
  align-items: center;

  h1{
    font-size: 30px;
  }

  ul{
    display: flex;
    
    a{
      text-decoration: none;
      color: black;
    li{
      font-size: 15px;
      padding: 0 10px;
      border-right: 1px solid black;
    }
  }

  }
}