//ボタンの設定
@mixin btn($col) {
  background-color: $col;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
//pタグの設定
@mixin ppos($col, $top, $lef) {
  color: $col;
  position: relative;
  top: $top;
  left: $lef;
}
//main > 上下左右幅の設定
 @mixin settb($arrangement){
    height: 50%;
    display: flex;
    justify-content: $arrangement;
    align-items: center;
}

.mcontainer {
  display: flex;
}

.hpage {
  width: 70%;
  height: 80vh;
  background-color: black;
  .mtop {
    @include settb(center);
    .btn1 {
      @include btn(red);
      a {
        text-decoration: none;
        p {
          @include ppos(white, 100px, 80px);
        }
      }
    }
  }
}

aside {
  width: 30%;
  background-color: aqua;
}

.hpage {
  .mbottom {
    @include settb(space-around);
    .btn2 {
      @include btn(blue);
      a {
        text-decoration: none;
        p {
          @include ppos(white, 100px, 80px);
        }
      }
    }
  }
}

.hpage {
  .btn3 {
    @include btn(green);
    a {
      text-decoration: none;
      p {
        @include ppos(white, 100px, 80px);
      }
    }
  }
}

// main{
//   .btn1{
//     background-color: red;
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//   }
// }

// @mixin btn($col){
//   background-color: $col;
//   width: 200px;
//   height: 200px;
//   border-radius: 50%;
// }
