.mcontainer {
  display: flex;
}

.hpage {
  width: 70%;
  height: 80vh;
  background-color: white;
  .mtop {
    @include settb(center);
    .btn1 {
      @include btn(red);
      a {
        text-decoration: none;
        p {
          @include ppos(white, 100px, 80px);
        }
      }
    }
  }
}

.atack {
  width: 30%;
  background-color: rgb(230, 230, 230);
  background: linear-gradient(left, rgb(238, 238, 238), rgb(255, 255, 255));
}

.hpage {
  .mbottom {
    @include settb(space-around);
    .btn2 {
      @include btn(blue);
      a {
        text-decoration: none;
        p {
          @include ppos(white, 100px, 80px);
        }
      }
    }
  }
}

.hpage {
  .btn3 {
    @include btn(green);
    a {
      text-decoration: none;
      p {
        @include ppos(white, 100px, 80px);
      }
    }
  }
}

